<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/">Homepage</a>
        <a href="/create">Create Course</a>
    </nav>
    <div>
        <form action='/' method='POST'>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="course">Course:</label>
            <input type="text" id="course" name="course" required>
            <label for="body">Body:</label>
            <input type="text" id="body" name="body" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>